@import "reset";
@import "mixins";
@import "variables";
@import "vendor/init";
@import "components/init";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

a, a:hover, a:active{
  text-decoration: none;
}

.clearfix:after {
  display: table;
  clear: both;
  content: " ";
}
.table {
  display: table;
  .cell {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
}
.centered {
  text-align: center;
}
.centered-bootstrap-cell {
  float: none;
  margin: 0 auto;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
