.calendar {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    color: #333333;
    h1, h2 {
        font-weight: 300;
        font-size: 1.6em;
        text-transform: uppercase;
    }
    .col {
        position: relative;
        float: left;
        height: 100%;
        overflow: scroll;
        .content {
            padding: 40px;
        }
    }
    .leftCol {
        width: 30%;
        background-color: $color-active;
        color: #fff;
        h1 {
            color: #ffffff;
            margin-bottom: 1em;
        }
    }
    .rightCol {
        width: 70%;
        h2 {
            color: #C7BEBE;
            text-align: right;
            margin-bottom: 1em;
        }
    }
    .temp-date {
        text-transform: uppercase;
        padding-bottom: 1.5em;
        font-size: 1.2em;
        font-weight: 400;
    }
    .weekday li, .days li {
        float: left;
        text-transform: uppercase;
    }
    .weekday li span, .days li a {
        display: block;
        color: #747978;
    }
    .weekday li {
        width: calc(100%/7);
        display: inline-block;
        span {
            text-align: center;
            margin-bottom: 20px;
            // font-size: 16px;
        }
    }
    .days li {
        display: inline-block;
        width: calc(100%/7);
        display: inline-block;
        padding: 1em 0;
        text-align: center;
        a {
            cursor: pointer;
            position: relative;
            $diameter: 3.5em;
            text-align: center;
            display: block;
            margin: auto;
            width: $diameter;
            height: $diameter;
            border: 1px solid #f3f3f3;
            border-radius: 50%;
            line-height: $diameter;
            @include transition(border $transition-time ease-in-out,background-color $transition-time ease-in-out,color $transition-time ease-in-out);
            &.disabled {
                background: #f3f3f3;
                cursor: not-allowed;
            }
            &:not(.disabled):hover {
                border: 1px solid $color-active;
                background-color: $color-active;
                color: #fff;
            }
        }
        .selected {
            background-color: $color-active !important;
            color: #ffffff;
        }
        .events-label {
            $diameter: 1.9em;
            line-height: 1;
            display: inline-block;
            position: absolute;
            top: -($diameter/4);
            right: -($diameter/4);
            background: $color-active;
            color: #fff;
            width: $diameter;
            height: $diameter;
            line-height: $diameter;
            border-radius: 50%;
            font-size: 0.8em;
        }
    }
    .layout-name {
        font-weight: 400;
        font-size: 1.3em;
        padding-bottom: 1.3em;
        text-align: center;
        span {
            display: inline-block;
            min-width: 15em;
        }
    }
    .arrow {
        font-size: 1.2em;
        @include transform(translateY(0.1em));
        color: #fff;
        cursor: pointer;
        color: $color-active;
        @include transition(color $transition-time ease-in-out);
        margin: 0 1em;
        &:hover {
            color: $color-active-dark;
        }
    }
    .layout-week {
        .days {
            > li {
                background: #f9f9f9;
                display: block;
                width: 100%;
                text-align: left;
                border: 1px solid #f3f3f3;
                padding: 2em 4em;
                margin-bottom: 1em;
            }
            .no-events-found {
                font-size: 1em;
                text-align: center;
                text-transform: none;
            }
            .events {
                .events-set {
                    .event-box {
                        display: block;
                        width: 100%;
                        color: #fff;
                        margin: 0.5em 0;
                        border-bottom: 1px solid #ddd;
                        padding: 1em 0;
                        text-align: left;
                        .time {
                            span {
                                color: $color-active;
                                font-weight: 600;
                            }
                        }
                        .title {
                            padding: 1em 0;
                            text-transform: uppercase;
                            font-weight: 300;
                            // font-size: 1.2em;
                            color: #000;
                        }
                        .btns {
                            .btn {
                                cursor: pointer;
                                display: inline-block;
                                text-align: center;
                                border: 1px solid #ddd;
                                padding: 0.5em 0.8em;
                                background: transparent;
                                margin-right: 0.5em;
                                font-size: 0.9em;
                                font-weight: 400;
                                border-radius: 0;
                                color: #000;
                                @include transition(color $transition-time ease-in-out,background $transition-time ease-in-out);
                                i {
                                    color: $color-active;
                                    padding-left: 1em;
                                }
                                &:hover {
                                    color: $color-active;
                                    background: #ddd;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .layout-month {
    }
    .layout-year {
        .months-set {
            .layout-switch span {
                margin-left: 0;
                margin-bottom: 0.3em;
            }
            .month {
                padding-bottom: 5em;
                height: auto;
                overflow: hidden;
                .month-name {
                    padding-bottom: 0.6em;
                }
                &:nth-child(3n+1) {
                    clear: left;
                }
                .weekday li {
                    font-size: 0.8em;
                }
            }
        }
        .days li {
            a {
                font-size: 0.9em;
                $diameter: 2em;
                width: $diameter;
                height: $diameter;
                line-height: $diameter;
            }
            .events-label {
                $diameter: 1.5em;
                font-size: 0.9em;
                line-height: 1;
                display: inline-block;
                position: absolute;
                top: -($diameter/2.5);
                right: -($diameter/2.5);
                background: $color-active;
                color: #fff;
                width: $diameter;
                height: $diameter;
                line-height: $diameter;
                border-radius: 50%;
                font-size: 0.8em;
            }
        }
    }
}
.help-block {
    color: #FF6766;
}
.layout-switch {
    span {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        border: 1px solid #eee;
        padding: 0.5em 0.8em;
        margin: 0 0.6em;
        font-size: 0.9em;
        font-weight: 400;
        @include transition(color $transition-time ease-in-out,background $transition-time ease-in-out);
        i {
            color: $color-active;
            padding-left: 1em;
        }
        &:hover {
            color: $color-active;
            background: #eee;
        }
    }
}
.form-wr {
    .form-title {
        font-weight: 400;
        font-size: 1.2em;
        padding-bottom: 0.5em;
        text-transform: uppercase;
    }
    .input-wr {
        padding: 0.4em 0;
        .title {
            font-weight: 400;
            padding-bottom: 0.5em;
        }
        input {
            width: 100%;
            max-width: 100%;
            display: inline-block;
            background: transparent;
            border: 1px solid rgba(255,255,255,0.7);
            border-radius: 0;
            @include box-shadow(none);
            outline: none !important;
            color: #fff;
            padding: 0.5em;
            text-align: left;
            resize: none;
            @include transition(all $transition-time ease-in-out);
            &::-webkit-input-placeholder {
                color: #a2b0b6 !important;
            }
            &:-moz-placeholder {
                color: #a2b0b6 !important;
            }
            &::-moz-placeholder {
                color: #a2b0b6 !important;
            }
            &:-ms-input-placeholder {
                color: #a2b0b6 !important;
            }
            &:focus, &:active {
                background: $color-active-dark;
            }
            &.wpcf7-not-valid {
                border: 1px solid #b10000;
            }
        }
    }
    .btns {
        .btn {
            margin-top: 1em;
            background: #fff;
            color: rgba(0,0,0,0.6);
            border-radius: 0;
            padding: 0.4em 2em;
            @include box-shadow(none);
            border: none;
        }
    }
}